body {
  background: #EEF2F5 !important;
}
body .navbar {
  padding: 25px 0 25px 0;
  background-color: #fff !important;
  margin-bottom: 90px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(200, 200, 200, 0.8);
}
body .navbar .container .navbar-brand {
  padding: 0 !important;
  margin-right: 0 !important;
}
body .navbar .container .collapse .navbar-nav {
  margin-left: 50px;
}
body .navbar .container .collapse .navbar-nav .nav-item {
  margin-right: 40px;
  padding: 0;
}
body .navbar .container .collapse .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #343434;
  transition: linear 0.5s;
  cursor: pointer;
}
body .navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #1DD1A1;
}
body .navbar .container .collapse .navbar-right .d-flex {
  align-items: center;
}
body .navbar .container .collapse .navbar-right .d-flex .dropdown:hover .lang-menu {
  color: #1DD1A1;
}
body .navbar .container .collapse .navbar-right .d-flex .tugma {
  background-color: #1DD1A1;
  border: #1DD1A1;
}
body .section-1 {
  margin-bottom: 210px;
  margin-top: 176px;
}
body .section-1 .container .row .col-lg-7 .sarlavha {
  font-size: 40px;
  line-height: 48px;
  color: #343434;
  font-weight: 800;
  margin-top: 60px;
}
body .section-1 .container .row .col-lg-7 .sign-in-form {
  box-shadow: 0 6px 30px rgba(220, 235, 230, 0.87);
  width: max-content;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput {
  height: 75px;
  width: 400px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 13px 29px;
  outline: none;
  position: relative;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput .greenBorder {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 12.57px;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput .inputText {
  font-size: 14px;
  line-height: 17px;
  color: #1DD1A1;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput:nth-child(1) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1.5px solid #DEECFE;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput input {
  outline: none;
  display: block;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput input:active .greenBorder {
  opacity: 1;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput input::-webkit-outer-spin-button,
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .section-1 .container .row .col-lg-7 .sign-in-form .myInput input[type=number] {
  -moz-appearance: textfield;
}
body .section-1 .container .row .col-lg-7 button {
  background-color: #1DD1A1;
  border: #1DD1A1;
}
body .section-1 .container .row .col-lg-7 .toggle {
  position: relative;
  width: 36.57px;
  height: 18.29px;
  border-radius: 100px;
  background-color: #ddd;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin: 0 9.14px 0 35px;
  transform: translateY(6px);
}
body .section-1 .container .row .col-lg-7 .toggle .b {
  display: block;
}
body .section-1 .container .row .col-lg-7 .toggle .check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
body .section-1 .container .row .col-lg-7 .toggle .check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #1dd1a1;
}
body .section-1 .container .row .col-lg-7 .toggle .check:checked ~ .switch {
  right: 3.43px;
  left: 19.43px;
  transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0.03s, 0s;
}
body .section-1 .container .row .col-lg-7 .toggle .switch {
  position: absolute;
  width: 13.71px;
  height: 13.71px;
  left: 3.43px;
  top: 2.29px;
  bottom: 2.29px;
  right: 19.43px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body .section-1 .container .row .col-lg-7 .toggle .track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}
body .section-1 .container .row .col-lg-5 .video:hover {
  opacity: 0.9;
  cursor: pointer;
}
body .section-2 .container .row-1 .col1 {
  font-size: 40px;
  line-height: 48px;
  color: #343434;
  font-weight: 900;
  margin-bottom: 100px;
}
body .section-3 .container .row-1 .col1 {
  font-size: 40px;
  line-height: 48px;
  color: #343434;
  font-weight: 900;
  margin-bottom: 40px;
}
body .section-3 .container .row .col-lg-4 .card {
  border: none;
  height: 342px;
}
body .section-3 .container .row .col-lg-4 .card .card-header {
  border: none;
  background-color: transparent;
}
body .section-3 .container .row .col-lg-4 .card .card-body p {
  font-size: 14px;
  line-height: 17px;
  color: #343434;
}
body .section-3 .container .row .col-lg-4 .card .card-body button {
  margin-top: 25px;
  border: none;
  color: white;
  background-color: #1DD1A1;
}
body .section-5 {
  margin-top: 206px;
  margin-bottom: 177px;
}
body .section-5 .container .row:nth-child(2) {
  margin-top: 50px;
}
body .section-5 .container .row .sarlavha {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  color: #343434;
}
body .section-5 .container .row .col-lg-4 {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}
body .section-5 .container .row .col-lg-4 .card {
  padding: 50px 37px;
  border-radius: 4px;
  transition: 0.35s;
}
body .section-5 .container .row .col-lg-4 .card .card-header {
  font-size: 30px;
  line-height: 36px;
  color: #343434;
  font-weight: 700;
}
body .section-5 .container .row .col-lg-4 .card .card-body h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 900;
  color: #343434;
  margin: 0;
}
body .section-5 .container .row .col-lg-4 .card .card-body h5 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #343434;
}
body .section-5 .container .row .col-lg-4 .card .card-body p {
  margin-top: 21px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #343434;
}
body .section-5 .container .row .col-lg-4 .card .card-footer button {
  border: 1px solid #1DD1A1;
  box-sizing: border-box;
  filter: drop-shadow(0px 6px 20px rgba(21, 168, 129, 0.35));
  border-radius: 4px;
  color: #1DD1A1;
}
body .section-5 .container .row .col-lg-4 .card .card-footer button:hover {
  background: #1DD1A1;
  box-shadow: 0 10px 30px rgba(21, 168, 129, 0.3);
  color: white;
  background-color: #1DD1A1;
}
body .section-5 .container .row .col-lg-4 .card:hover {
  box-shadow: 0 30px 35px rgba(211, 220, 227, 0.75);
  transform: scale(1.0606);
  border-top: 6px solid #1DD1A1 !important;
}
body .section-5 .container .row .col-lg-4 .card img {
  position: absolute;
  top: 18px;
  right: -7px;
}
body .section-6 .row1 {
  margin-bottom: 300px;
}
body .section-6 .row1 .sarlavha {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  color: #343434;
}
body .myCarousel .row .col-lg-12 .card .card-body {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
body .myCarousel .row .col-lg-12 .card .card-body span {
  color: #1DD1A1 !important;
}
body .myCarousel .row .col-lg-12 .card .card-footer p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #343434;
}
body footer {
  margin-top: 300px;
  background: #093845;
  padding-top: 38px;
}
body footer .container {
  padding: 0;
}
body footer .container .row {
  align-items: center;
  margin-bottom: 38px;
}
body footer .container .row .col-lg-5 {
  padding: 0 0 0 27px;
}
body footer .container .row .col-lg-5 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body footer .container .row .col-lg-5 ul li {
  margin-right: -40px;
  padding: 0;
}
body footer .container .row .col-lg-5 ul li a {
  font-size: 16px;
  color: #F6FCFA;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}
body footer .container .row .col-lg-5 ul li a:hover {
  color: #1DD1A1;
}
body footer .container .row .col-lg-4 {
  display: flex;
  justify-content: space-between;
  padding-left: 178px;
}
body footer .container .row .col-lg-4 img {
  opacity: 0.6;
  transition: 0.3s;
}
body footer .container .row .col-lg-4 img:hover {
  opacity: 1;
}
body footer .container p {
  font-size: 12px;
  line-height: 15px;
  color: #F6FCFA;
  opacity: 0.6;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  body .navbar .container .navbar-collapse * {
    margin: 0 !important;
    padding: 0 !important;
  }
  body .navbar .container .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 10px !important;
  }
  body .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    transition: 0s;
  }
  body .section-5 .container .row .col-lg-4 .card {
    margin-bottom: 20px;
  }
  body .section-5 .container .row .col-lg-4 .card:nth-child(2) {
    margin: 0 !important;
  }
  body footer {
    padding-top: 10px !important;
  }
  body footer * {
    margin: 0 !important;
    padding: 0 !important;
  }
  body footer .container {
    max-width: 100% !important;
  }
  body footer .container .row .col-lg-3 {
    margin: 0 0 3% 0 !important;
    text-align: center !important;
    display: block !important;
  }
  body footer .container .row .col-lg-5 {
    text-align: center !important;
    margin: 0 0 3% 0 !important;
  }
  body footer .container .row .col-lg-5 ul {
    display: block;
  }
  body footer .container .row .col-lg-5 ul li {
    display: block !important;
  }
  body footer .container .row .col-lg-5 ul li a {
    display: block !important;
  }
  body footer .container .row .col-lg-4 {
    margin: 0 0 3% 0 !important;
    text-align: center !important;
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
  body footer .container p {
    padding: 2% !important;
  }
}
@media only screen and (max-width: 600px) {
  body .navbar {
    padding: 5px 10px;
  }
  body .navbar .container .collapse .navbar-nav {
    margin-left: 0;
  }
}

/*# sourceMappingURL=index.css.map */
