$mainFirstColor: #111111;
$mainSecondColor: #1DD1A1;
$mainThirdColor: #fff;
$mainFourthColor: #343434;


body {
  background: #EEF2F5 !important;

  .navbar {
    padding: 25px 0 25px 0;
    background-color: $mainThirdColor !important;
    margin-bottom: 90px;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    //box-shadow: 0 0 100px 0 rgba(29, 209, 161, 0.5);
    box-shadow: 0 0 10px 0 rgba(200, 200, 200, 0.8);

    .container {
      .navbar-brand {
        padding: 0 !important;
        margin-right: 0 !important;

        img {

        }
      }

      .collapse {

        .navbar-nav {
          margin-left: 50px;

          .nav-item {
            margin-right: 40px;
            padding: 0;

            .nav-link {
              padding: 0;
              font-size: 14px;
              line-height: 17px;
              color: #343434;
              transition: linear 0.5s;
              cursor: pointer;

              &:hover {
                color: $mainSecondColor;
              }

            }

          }
        }

        .navbar-right {
          .d-flex {
            align-items: center;

            .dropdown:hover .lang-menu {
              color: $mainSecondColor;
            }

            .tugma {
              background-color: #1DD1A1;
              border: #1DD1A1;
            }

          }
        }

      }
    }
  }

  .section-1 {
    margin-bottom: 210px;
    margin-top: 176px;

    .container {
      .row {
        .col-lg-7 {
          .sarlavha {
            font-size: 40px;
            line-height: 48px;
            color: $mainFourthColor;
            font-weight: 800;
            margin-top: 60px;
          }

          .sign-in-form {
            box-shadow: 0 6px 30px rgba(220, 235, 230, 0.87);
            width: max-content;

            .myInput {
              height: 75px;
              width: 400px;
              background: #FFFFFF;
              border-radius: 6px;
              padding: 13px 29px;
              outline: none;
              position: relative;

              .greenBorder {
                position: absolute;
                opacity: 0;
                left: 0;
                top: 12.57px;
              }

              .inputText {
                font-size: 14px;
                line-height: 17px;
                color: $mainSecondColor;
              }

              &:nth-child(1) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 1.5px solid #DEECFE;
              }

              &:nth-child(2) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
              }

              input {
                outline: none;
                display: block;

                &:active .greenBorder {
                  opacity: 1;
                }
              }

              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type=number] {
                -moz-appearance: textfield;
              }
            }
          }

          button {
            background-color: #1DD1A1;
            border: #1DD1A1;
          }
          .toggle {
            position: relative;
            width: 36.57px;
            height: 18.29px;
            border-radius: 100px;
            background-color: #ddd;
            box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
            display: inline-block;
            margin: 0 9.14px 0 35px;
            transform: translateY(6px);

            .b {
              display: block;
            }

            .check {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              z-index: 6;
            }

            .check:checked ~ .track {
              box-shadow: inset 0 0 0 20px #1dd1a1;
            }

            .check:checked ~ .switch {
              right: 3.43px;
              left: 19.43px;
              transition: .20s cubic-bezier(0.785, 0.135, 0.150, 0.860);
              transition-property: left, right;
              transition-delay: .03s, 0s;
            }

            .switch {
              position: absolute;
              width: 13.71px;
              height: 13.71px;
              left: 3.43px;
              top: 2.29px;
              bottom: 2.29px;
              right: 19.43px;
              background-color: #fff;
              border-radius: 36px;
              z-index: 1;
              transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
              transition-property: left, right;
              transition-delay: 0s, .05s;
              box-shadow: 0 1px 2px rgba(0,0,0,.2);
            }

            .track {
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
              box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
              border-radius: 40px;
            }
          }
        }

        .col-lg-5 {
          .video:hover {
            opacity: 0.9;
            cursor: pointer;

            iframe {

            }
          }
        }
      }
    }
  }

  .section-2 {

    .container {
      .row-1 {
        .col1 {
          font-size: 40px;
          line-height: 48px;
          color: $mainFourthColor;
          font-weight: 900;
          margin-bottom: 100px;
        }
      }
    }
  }

  .section-3 {
    .container {
      .row-1 {
        .col1 {
          font-size: 40px;
          line-height: 48px;
          color: $mainFourthColor;
          font-weight: 900;
          margin-bottom: 40px;
        }
      }
      .row {
        .col-lg-4 {
          .card {
            border: none;
            height: 342px;

            .card-header {
              border: none;
              background-color: transparent;
            }
            .card-body {
              p {
                font-size: 14px;
                line-height: 17px;
                color: #343434;
              }
              button {
                margin-top: 25px;
                border: none;
                color: white;
                background-color: $mainSecondColor;
              }
            }
          }
        }
      }
    }
  }

  .section-5 {
    margin-top: 206px;
    margin-bottom: 177px;
    .container {
      .row {
        &:nth-child(2) {
          margin-top: 50px;
        }

        .sarlavha {
          font-size: 40px;
          line-height: 48px;
          font-weight: 900;
          color: $mainFourthColor;
        }

        .col-lg-4 {
          padding-left: 25px;
          padding-right: 25px;
          position: relative;

          .card {
            padding: 50px 37px;
            border-radius: 4px;
            transition: .35s;

            .card-header {
              font-size: 30px;
              line-height: 36px;
              color: $mainFourthColor;
              font-weight: 700;
            }
            .card-body {
              h2 {
                font-size: 32px;
                line-height: 38px;
                font-weight: 900;
                color: #343434;
                margin: 0;
              }
              h5 {
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                color: #343434;
              }
              p {
                margin-top: 21px;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #343434;
              }
            }
            .card-footer {
              button {
                border: 1px solid $mainSecondColor;
                box-sizing: border-box;
                filter: drop-shadow(0px 6px 20px rgba(21, 168, 129, 0.35));
                border-radius: 4px;
                color: $mainSecondColor;
                &:hover {
                  background: $mainSecondColor;
                  box-shadow: 0 10px 30px rgba(21, 168, 129, 0.3);
                  color: white;
                  background-color: $mainSecondColor;
                }
              }
            }

            &:hover {
              box-shadow: 0 30px 35px rgba(211, 220, 227, 0.75);
              transform: scale(1.0606);
              border-top: 6px solid $mainSecondColor !important;
            }

            img {
              position: absolute;
              top: 18px;
              right: -7px;
            }
          }
        }

      }
    }
  }

  .section-6 {
    .row1 {
      margin-bottom: 300px;

      .sarlavha {
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        color: $mainFourthColor;
      }
    }
  }

  .myCarousel {
    .row {
      .col-lg-12 {
        .card {
          .card-header {}
          .card-body {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #000000;
            span {
              color: $mainSecondColor !important;
            }
          }
          .card-footer {
            p {
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: #343434;
            }
          }
        }
      }
    }
  }

  footer {
    margin-top: 300px;
    background: #093845;
    padding-top: 38px;

    .container {
      padding: 0;

      .row {
        align-items: center;
        margin-bottom: 38px;

        .col-lg-5 {
          padding: 0 0 0 27px;

          ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
              margin-right: -40px;
              padding: 0;

              a {
                font-size: 16px;
                color: #F6FCFA;
                text-decoration: none;
                transition: .5s;
                cursor: pointer;

                &:hover {
                  color: $mainSecondColor;
                }
              }
            }
          }
        }

        .col-lg-4 {
          display: flex;
          justify-content: space-between;
          padding-left: 178px;
          img {
            opacity: 0.6;
            transition: 0.3s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      p {
        font-size: 12px;
        line-height: 15px;
        color: #F6FCFA;
        opacity: 0.6;
        margin: 0;
      }
    }
  }
}


@media only screen and (max-width: 991px) {
  body {
    .navbar {
      .container {
        .navbar-collapse {
          * {
            margin: 0 !important;
            padding: 0 !important;
          }

          .navbar-nav {
            .nav-item {
              margin-bottom: 10px !important;

              .nav-link {
                transition: 0s;
              }
            }
          }
        }
      }
    }

    .section-5 {
      .container {
        .row {
          .col-lg-4 {
            .card {
              margin-bottom: 20px;
              &:nth-child(2) {
                margin: 0 !important;
              }
            }
          }
        }
      }
    }

    footer {
      padding-top: 10px !important;

      * {
        margin: 0 !important;
        padding: 0 !important;
      }

      .container {
        max-width: 100% !important;

        .row {
          .col-lg-3 {
            margin: 0 0 3% 0 !important;
            text-align: center !important;
            display: block !important;
          }

          .col-lg-5 {
            text-align: center !important;
            margin: 0 0 3% 0 !important;

            ul {
              display: block;

              li {
                display: block !important;

                a {
                  display: block !important;
                }
              }
            }
          }

          .col-lg-4 {
            margin: 0 0 3% 0 !important;
            text-align: center !important;
            padding-left: 25% !important;
            padding-right: 25% !important;
          }
        }

        p {
          padding: 2% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .navbar {
      padding: 5px 10px;

      .container {
        .collapse {
          .navbar-nav {
            margin-left: 0;
          }
        }
      }
    }
  }
}

